<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Pomogranate Fruit Stage Detection</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    

        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/bootstrap-icons.css" rel="stylesheet">

        <link rel="stylesheet" href="../static/css/slick.css"/>

        <link href="../static/css/tooplate-little-fashion.css" rel="stylesheet">

    </head>
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="index.html">
                        <strong><span>Pomogranate Fruit</span> Stage Detection</strong>
                    </a>

                    <div class="d-lg-none">
                        <a href="/login" class="bi-person custom-icon me-3"></a>

                        <!-- <a href="product-detail.html" class="bi-bag custom-icon"></a> -->
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="/">Home</a>
                            </li>


                        </ul>

                        <div class="d-none d-lg-block">
                            <a href="/login" class="bi-person custom-icon me-3"></a>

                            <!-- <a href="product-detail.html" class="bi-bag custom-icon"></a> -->
                        </div>
                    </div>
                </div>
            </nav>

            <section class="slick-slideshow">   
                <div class="slick-custom">
                    <img src="../static/images/slideshow/output1_image5.jpg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Upload Photo for Detection</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Upload an image of a pomegranate fruit to detect its growth stage.</p>

                                    <a href="/login" class="btn custom-btn">Learn more </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="../static/images/slideshow/output1_image15.jpg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Upload Video for Detection</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Upload a video of the pomegranate fruit to detect its growth stage in real-time.</p>

                                    <a href="/login" class="btn custom-btn">Explore </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">

                    <img src="../static/images/slideshow/output1_image10.jpg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Detect Using Camera</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Open your camera to detect the pomegranate fruit's growth stage in real-time.</p>

                                    <a href="/login" class="btn custom-btn">Work on it</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-10 me-auto mb-4">
                        <h4 class="text-white mb-3"><a href="/">Pomogranate Fruit</a> Stage Detection</h4>
                        <!-- <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2022 <strong>Little Fashion</strong></p>
                        <br>
                        <p class="copyright-text">Designed by <a href="https://www.tooplate.com/" target="_blank">Tooplate</a></p> -->
                    </div>

                    
                    

                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/Headroom.js"></script>
        <script src="../static/js/jQuery.headroom.js"></script>
        <script src="../static/js/slick.min.js"></script>
        <script src="../static/js/custom.js"></script>

    </body>
</html>
