<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pomegranate Fruit Stage Detection</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/slick.css"/>
    <link href="../static/css/tooplate-little-fashion.css" rel="stylesheet">
</head>

<body>
    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/home">
                    <strong><span>Pomegranate Fruit</span> Stage Detection</strong>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link " href="/home">Home</a>
                        </li>

                       

                        <li class="nav-item">
                            <a class="nav-link " href="/video">Upload</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/camera">OpenCamera</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/performance">Performance</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/charts">Charts</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>

                    
                </div>
            </div>
        </nav>

            <header class="site-header section-padding-img site-header-image">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12 header-info">
                            <h1>
                                <span class="d-block text-primary">Performance of </span>
                                <span class="d-block text-dark">your Project</span>
                            </h1>
                        </div>
                    </div>
                </div>

                <img src="../static/images/performance.jpg" class="header-image img-fluid" alt="">
            </header>

            <section class="contact section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            
            
                            <!-- Row 1: First two plots -->
                            <div class="row mb-4">
                                <div class="col-6">
                                    <h5> Confusion Matrix</h5>
                                    <img src="../static/images/confusion_matrix.png" alt="Plot 1" style="width: 100%; max-width:  800px;">
                                </div>
                                <div class="col-6">
                                    <h5> Confusion Matrix Normalized</h5>
                                    <img src="../static/images/confusion_matrix_normalized.png" alt="Plot 2" style="width: 100%; max-width: 800px;">
                                </div>
                            </div>
            
                            <!-- Row 2: Next two plots -->
                            <div class="row mb-4">
                                <div class="col-6">
                                    <h5> Labels</h5>
                                    <img src="../static/images/labels.jpg" alt="Plot 1" style="width: 100%; max-width:  800px;">
                                </div>
                                <div class="col-6">
                                    <h5> Labels Correlogram</h5>
                                    <img src="../static/images/labels_correlogram.jpg" alt="Plot 2" style="width: 100%; max-width: 800px;">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-6">
                                    <h5> Precision Curve</h5>
                                    <img src="../static/images/P_curve.png" alt="Plot 1" style="width: 100%; max-width:  800px;">
                                </div>
                                <div class="col-6">
                                    <h5> Recall Curve</h5>
                                    <img src="../static/images/R_curve.png" alt="Plot 2" style="width: 100%; max-width: 800px;">
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-6">
                                    <h5> Precision_Recall Curve</h5>
                                    <img src="../static/images/PR_curve.png" alt="Plot 1" style="width: 100%; max-width:  800px;">
                                </div>
                                <div class="col-6">
                                    <h5> F1 Curve</h5>
                                    <img src="../static/images/F1_curve.png" alt="Plot 2" style="width: 100%; max-width: 800px;">
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-6">
                                    <h5> Validation Batch Image Labels</h5>
                                    <img src="../static/val_batch0_labels.jpg" alt="Plot 1" style="width: 100%; max-width:  800px;">
                                </div>
                                <div class="col-6">
                                    <h5> Training Batch Predicted Image predictions</h5>
                                    <img src="../static/val_batch0_pred.jpg" alt="Plot 2" style="width: 100%; max-width: 800px;">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-12">
                                    <h5> Results</h5>
                                    <img src="../static/results.png" alt="Plot 1" style="width: 100%; max-width:  800px;">
                                </div>
                                
                            </div>
            
                            <!-- Add more rows if needed -->
                        </div>
                    </div>
                </div>
            </section>
            
            
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-10 me-auto mb-4">
                        <h4 class="text-white mb-3"><a href="/">Pomegranate Fruit</a> Stage Detection</h4>
                    </div>
                </div>
            </div>
        </footer>

        <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/Headroom.js"></script>
    <script src="../static/js/jQuery.headroom.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/custom.js"></script>
    </body>
</html>